DATABASE_URL="mysql://app:!ChangeMe!@127.0.0.1:3306/app?serverVersion=10.11.2-MariaDB&charset=utf8mb4"
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
MESSENGER_TRANSPORT_DSN=amqp://guest:guest@localhost:5672/%2f/messages
PRODUCT_SERVICE_URL=http://demo-product.loc/